@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --blue:#fff;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    transition: all 0.1s linear;
    text-decoration: none !important;
    font-weight: 200;
    letter-spacing: 0.5px;
}

*::selection{
    background:var(--blue);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--blue);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

/* --------------------------------------------------------------------------------------------- */

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--blue);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:13rem;
    width:13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.2rem solid var(--blue);
}

header .user .name{
    font-size: 3rem;
    color:#2baed2;
}
header .user h3{
    font-weight: 400;
}
header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--blue);
    color: black;
    font-weight: 600;
}
/* -------------------------------------------------------------------------------------------------------- */

#main-head{
    color: #2baed2;
    font-weight: 400;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
    font-weight: 400    ;
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}
.home a{
    width: 200px;
}
.home .btn{
    background: #fff;
    color: black;
    font-weight: 600;
}

.home a .btn:hover{
    scale: 0.98;
    background-color: #2baed2;
    cursor: pointer;
}



/* ----------------------------------------------------------------------------------------------------------- */
.about h1{
    font-weight: 600;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:10rem 0;
}

.about .row .btn{
    margin-top: 20px;
    background-color: #fff;
    color: black;
    font-weight: 600;
    cursor: pointer;

}
.about .row .btn:hover{
    background: #2baed2;
    color: black;
    scale: 0.98;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--blue);
    padding:1rem 0;
    font-weight: normal;
    font-weight: 200;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: #2baed2;
    font-weight: 400;
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}
/* -------------------------------------------------------------------------------------------------------- */
.contact h1{
    font-weight: 400;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}
.contact .row form button{
    background: white;
    font-weight: 600;
    color: black;
}
.contact .row form button:hover{
    background-color: #2baed2;
    cursor: pointer;
    scale: 0.95;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#57565633;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    color: #2baed2;
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: 400;
}


.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--blue);
}


.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}



















/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }
